.idea/
hello/bin/
hello/obj/
lab1.1/bin/
lab1.1/obj/
lab1.2/bin/
lab1.2/obj/
lab1.3/bin/
lab1.3/obj/
lab1.4/bin/
lab1.4/cmake-build-debug/
lab1.4/obj/
lab1.5/bin/
lab1.5/obj/
upr1/bin/
upr1/obj/
upr2/bin/
upr2/obj/
upr3/bin/
upr3/obj/
upr4/bin/
upr4/obj/
upr5/bin/
upr5/obj/
upr6/bin/
upr6/obj/
upr7.2/bin/
upr7.2/obj/
upr7.3/bin/
upr7.3/obj/
upr7.4/bin/
upr7.4/obj/
upr7.5/bin/
upr7.5/obj/
upr7/bin/
upr7/obj/
upr8/bin/
upr8/obj/
